{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/resources/detail.css' %}">
{% endblock head %}
  
{% block content %}
  <section class="resource-container">
    <div class="resource-details">
      <h1>{{ resource.name }}</h1>
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Contact Info</th>
              <th>Location</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>{{ resource.name }}</td>
              <td>{{ resource.description }}</td>
              <td>{{ resource.category }}</td>
              <td>{{ resource.contact_info }}</td>
              <td>{{ resource.location }}</td>
              <td>
                  <a href="{% url 'resource_update' resource.id %}">Edit</a>
                  <a href="{% url 'resource_delete' resource.id %}">Delete</a>
              </td>
          </tr>
        </tbody>
      </table>
      <div class="back-container">
        <a href="{% url 'resource_list' %}">Back</a>
      </div>
    </div>
  </section>
{% endblock content %}