{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}
  
{% block content %}
<div class="home-container">
  <!-- Hero Section -->
  <section class="hero">
    <h1>Discover Local Resources and Services That Meet Your Needs</h1>
    <p>Find food banks, shelters, waste disposal sites, and more in your community.</p>
  </section>
  <section class="how-it-works">
    <h2>How It Works</h2>
    <p>Find resources with our easy to use search feature. <br>
    Help others in need by donating.
    </p>
    <div class="steps">
      <div class="step">Search for Resources</div>
      <div class="step">Find Contact Information</div>
      <div class="step">Add and Manage Local Resources</div>
    </div>
  </section>
</div>
{% endblock content %}