{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/resources/resource_form.css' %}">
{% endblock head %}
  
{% block title %}
  
  {% if resource %}
    Edit Resource
  {% else %}
    Add Resource
  {% endif %}
    
{% endblock title %}


{% block content %}
  <h2>
  {% if resource %}
    Edit Resource
  {% else %}
    Add Resource
  {% endif %}
    </h2>
    <div class="resource-form">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="create-edit">
          {% if resource %}
            Update        
          {% else %}
            Create
          {% endif %}
        </button>
      </form>
      <a href="{% url 'resource_list' %}">Cancel</a>
    </div>
{% endblock content %}
  
  