{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/resources/resource_list.css' %}">
{% endblock head %}
  

{% block title %}
    Resources
{% endblock title %}

{% block content %}
    <h2>My Saved Resources</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for resource in resources %}
                <tr>
                    <td><a href="{% url 'resource-detail' resource.id %}">{{ resource.name }}</a></td>
                    <td>{{ resource.category }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No resources found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}