{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/resources/resource_list.css' %}">
{% endblock head %}
  

{% block title %}
    Resources
{% endblock title %}

{% block content %}
    <h2>Available Resources</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Contact Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for resource in resources %}
                <tr>
                    <td>{{ resource.name }}</td>
                    <td>{{ resource.description }}</td>
                    <td>{{ resource.category }}</td>
                    <td>{{ resource.contact_info }}</td>
                    <td>
                        <a href="{% url 'resource_update' resource.id %}">Edit</a>
                        <a href="{% url 'resource_delete' resource.id %}">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No resources found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'resource_create' %}">Add New Resources</a>
{% endblock content %}